html, body {
    height: 100%;


}

.container{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}





.card
{
display: flex;
justify-content: center;
 height: 100%;
 align-items: center;
 width: 50px;
 height: 50px;
 background-color: #ff8000;
 color: #ffffff;
 margin: 4px;
 border: 1px solid black;
}